/* headings */
.header, .footer {
  text-transform: uppercase;
  text-align: center;
}

.header-brand {
  font-family: "raleway", sans-serif;
  font-weight: 300;
  color: #02b3e4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", sans-serif;
}

/* jumbotron */
.jumbotron-header {
  font-family: "lobster", cursive;
}

.jumbotron-background {
  background: linear-gradient(150deg, #02ccba 0%, #a951ed 100%);
  color: #212529;
}

/* portfolio thumbnails */
.img-thumbnail {
  max-height: 200px;
}

@media (min-width: 768px) {
  /* enlarge images */
  .img-thumbnail {
    max-height: 300px;
  }
}

/* Adjust fonts for resume printing */
@media print {
  h1 {
    font-size: 1.5rem
  }
  h2 {
    font-size: 1.2rem
  }
  h3, h4, h5, h6 {
    font-size: 1rem
  }
  body {
    font-size: 0.8rem
  }
}