<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brendon Smith</title>
    <meta name="description" content="GitHub portfolio site" />
    <meta name="author" content="Brendon Smith" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Prism syntax highlighting -->
    <link rel="stylesheet" href="{{ 'css/prism.css' | relative_url }}" />
    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="{{ 'css/portfolio.css' | relative_url }}" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'img/favicon/apple-touch-icon.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'img/favicon/favicon-32x32.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'img/favicon/favicon-16x16.png' | relative_url }}"
    />
    <link
      rel="manifest"
      href="{{ 'img/favicon/site.webmanifest' | relative_url }}"
    />
    <!-- AnchorJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
    <script>
      anchors.add(
        "h2:not(.no-anchor), h3:not(.no-anchor), h4:not(.no-anchor), h5:not(.no-anchor), h6:not(.no-anchor)"
      )
    </script>
  </head>
  <body>
    <!-- Header -->
    <header class="container header">
      <div class="row">
        <div class="col-lg-4 text-lg-left">
          <h1 class="header-title">Brendon Smith</h1>
        </div>
        <div class="col-lg-8">
          <!-- Navbar within header -->
          <nav
            class="navbar navbar-expand-lg navbar-light justify-content-center"
          >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="{{ '/' | relative_url }}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="{{ 'about' | relative_url }}"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="{{ 'udacity' | relative_url }}"
                    >Udacity</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://br3ndonland.keybase.pub/jobs/Brendon-Smith-CV.pdf"
                    target="_blank"
                    >CV</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://br3ndonland.keybase.pub/jobs/Brendon-Smith-resume.pdf"
                    target="_blank"
                    >Resume</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://github.com/br3ndonland"
                    target="_blank"
                    >GitHub</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://keybase.io/br3ndonland"
                    target="_blank"
                    >Keybase</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://www.linkedin.com/in/br3ndonland"
                    target="_blank"
                    >LinkedIn</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    href="https://orcid.org/0000-0001-6615-8677"
                    target="_blank"
                    >ORCID</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link card-link">
                    <button
                      type="button"
                      id="btn-theme-toggle"
                      class="btn btn-secondary btn-sm"
                    >
                      Theme
                    </button>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <hr class="border border-secondary rounded" />
    </header>
  </body>
</html>
