/* header and headings */
.header {
  margin-bottom: 0.5rem;
  border-bottom: 0.2rem solid #7d97ad;
  padding-bottom: 0.5rem;
  text-align: center;
}

.header-logo {
  max-width: 300px;
}

.header-title {
  font-family: "raleway", sans-serif;
  color: #02b3e4;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.subtitle {
  font-family: "lobster", cursive;
  color: #7d97ad;
}

/* footer */
footer {
  border-top: 0.1rem solid #7d97ad;
}

/* add color and padding */
body {
  padding: 1rem;
  background-color: #fff;
  color: #212529;
}

/* theme toggle */
.theme-toggle {
  background-color: #2d3c49;
  color: #ddd;
}

/* jumbotron */
.jumbotron-header {
  font-family: "lobster", cursive;
  font-size: 2.5rem;
}

.background-udacity {
  background: linear-gradient(150deg, #02ccba 0%, #a951ed 100%);
  color: #212529;
}

/* portfolio thumbnails */
.img-thumbnail {
  max-height: 200px;
}

@media (min-width: 768px) {
  /* enlarge images */
  .img-thumbnail {
    max-height: 300px;
  }
  .header-logo {
    max-width: 400px;
  }
}
