/* Header and Headings */

h1, .h1 {
  font-family: "Lobster", cursive;
}

.header {
  margin-bottom: 0.5rem;
  border-bottom: 0.2rem solid #7d97ad;
}

.header-logo,
.svg {
  max-width: 400px;
}

.header-title {
  font-family: "Raleway", sans-serif;
  color: #02b3e4;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 0px;
}

.header-subtitle {
  text-align: right;
  font-family: "Lobster", cursive;
}

/* Body */

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  text-align: center;
}

.social-icon {
  height: 2rem;
}

/* Side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Jumbotron */

.background-udacity {
  background: linear-gradient(150deg, #02ccba 0%, #A951ED 100%);
}

.jumbotron {
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: #212529;
}

/* Portfolio thumbnails */

.img-thumbnail {
  max-height: 300px;
}

/* Media queries for responsive text and images */

@media (max-width: 991px) {
  /* Shrink text */
  html {
    font-size: 0.7rem;
  }
  /* Match header logo size with text */
  .header-logo {
  width: 250px;
  }
}

@media (max-width: 767px) {
  /* Center header for smaller viewports */
  .header, .header-logo, .header-title, .header-subtitle {
    text-align: center;
  }
  .header-logo {
  max-width: 200px;
  }
  /* Shrink thumbnails */
  .img-thumbnail {
    max-height: 200px;
  }
  /* Remove padding */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Dark theme */
.theme-dark {
  background-color: #2d3c49;
  color: #fff;
}
