==================================================================
https://keybase.io/br3ndonland
-------------------------------------------------------------------- I hereby
claim: * I am an admin of https://br3ndonland.github.io * I am br3ndonland
(https://keybase.io/br3ndonland) on keybase. * I have a public key
ASCv19t_Tifxi00hxmXrj6oTNuG12eP-0b5CaRtSWYKqSAo To do so, I am signing this
object: { "body": { "key": { "eldest_kid":
"0120afd7db7f4e27f18b4d21c665eb8faa1336e1b5d9e3fed1be42691b525982aa480a",
"host": "keybase.io", "kid":
"0120afd7db7f4e27f18b4d21c665eb8faa1336e1b5d9e3fed1be42691b525982aa480a", "uid":
"efce7cf8e9dc3b1a2b5e12f335e07e19", "username": "br3ndonland" }, "merkle_root":
{ "ctime": 1536431395, "hash":
"2512de767a2abc177c7c48ca219428c2ee5183d7df28e59dc17676b1ac33c4ccd5d7de005923f84f902cf9de73a37ca8821f8f691fdc8950d388b81522bd60ed",
"hash_meta": "c7699e124e664d287532e6a34d2ddc8f59860c103451342092524d5b176aa07f",
"seqno": 3582771 }, "service": { "entropy": "C2lYRrmIUYPx6gCmz6F+9MUm",
"hostname": "br3ndonland.github.io", "protocol": "https:" }, "type":
"web_service_binding", "version": 2 }, "client": { "name": "keybase.io go
client", "version": "2.5.2" }, "ctime": 1536431447, "expire_in": 504576000,
"prev": "3c2e862530cc4f6ca543a91a4a23f68e0504dcfc97f7b94b486bb170131333b8",
"seqno": 12, "tag": "signature" } which yields the signature:
hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgr9fbf04n8YtNIcZl64+qEzbhtdnj/tG+QmkbUlmCqkgKp3BheWxvYWTESpcCDMQgPC6GJTDMT2ylQ6kaSiP2jgUE3PyX97lLSGuxcBMTM7jEIAsU72fDX7ajPLl+YavsaKApgFexZIXJeeD8PbeDCE0OAgHCo3NpZ8RA7lsbaaDAI50F2iCdaOyulxQckibzdxZczo6XFiETIREBQKytes5xafu3AS99CjwFsd3X2AsOon8ikdZUQJDWB6hzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIN7p7fryysIJdNgBEekElNH4S65OLBIzhRSH8bVcQCDwo3RhZ80CAqd2ZXJzaW9uAQ==
And finally, I am proving ownership of this host by posting or appending to this
document. View my publicly-auditable identity here:
https://keybase.io/br3ndonland
==================================================================
